#contentContainer {
  background-color: #fff;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 100vh;
}

#contentContainer img {
  width: 100%;
}

#yelpBars {
  padding: 0;
  margin: 0;
}

#yelpBars li {
  list-style: none;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

#yelpBars li > div:nth-child(1) {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #000;
}

#yelpBars li > div:nth-child(1) img {
  width: 120%;
  height: auto;
}

#yelpBars li:hover > div:nth-child(1) img {
  transform: scale(110%);
  transition: all 0.3s ease-in-out;
}

#yelpBars li > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}

form {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

form > * {
  width: 100%;
  text-align: center;
}

#directions {
  padding: 5px;
}

#directions h3 {
  margin-bottom: 0;
}

#directions h4 {
  margin-top: 0;
}

#social {
  display: flex;
  flex-direction: column-reverse;
}

#social > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social > div:nth-child(2) > div {
  flex: 1;
  text-align: center;
  border: 1px solid #000;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#routeContent > div:nth-child(1) {
  position: relative;
  width: 100%;
}

#noResults {
  background-color: #efefef;
  width: 100%;
  min-height: calc(100vh - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 20;
}

#noResults div {
  background: white;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
  margin: 5px;
}

button,
input[type="submit"] {
  width: 100%;
  display: block;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

/* Desktop Version */
@media screen and (min-width: 600px) {
  #contentContainer {
    flex-direction: row;
    max-width: 800px;
  }

  #contentContainer > div {
    flex: 1;
  }

  #contentContainer img {
    border-radius: 10px;
    border: 1px solid #000;
  }

  #contentContainer > div:nth-child(1) {
    min-width: 250px;
    border-right: 1px solid #000;
  }

  #contentContainer > div:nth-child(1) > div {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  #contentContainer > div:nth-child(2) {
    flex-basis: 400px;
    padding: 10px;
    background-color: rgb(185, 185, 185);
  }

  #social {
    padding: 5px;
    flex-direction: row;
  }

  #social > div {
    flex: 1;
  }

  #social > div:nth-child(2) {
    min-width: 150px;
    flex-direction: column;
    align-items: center;
  }

  #social > div:nth-child(2) > div {
    border: 1px solid #000;
    width: calc(100% - 10px);
    margin-left: 5px;
    text-align: center;
  }

  #social > div:nth-child(1) {
    flex-basis: 300px;
  }
}
