#savedBarsContainer {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  height: 100%;

  margin: 5px 0 0 0;
  min-height: calc(100vh - 106px);
}

#savedBarsContainer img {
  width: 100%;
}

#refreshRouteList{
  cursor: pointer;
  justify-content: center;
}

#savedBarsContainer #savedResultsList ul {
  list-style: none;
  position: -webkit-sticky;
  position: sticky;
  top: 33px;
}

#savedBarsContainer #savedResultsList li {
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

#savedBarsContainer li:last-of-type {
  margin-bottom: 0px;
}

#savedBarsContainer li div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#savedBarsContainer li div button:nth-child(1) {
  margin-bottom: 5px;
}

#savedResultsDirections {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

#savedResultsDirections ul {
  padding-inline-start: 40px;
}

/* Desktop Version */
@media screen and (min-width: 600px) {
  #savedBarsContainer {
    flex-direction: row;
    max-width: 800px;
  }

  #savedResultsDirections {
    margin-left: 5px;
  }

  #savedBarsContainer > div {
  flex: 1;
}
}
