#savedBarsContainer {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  padding: 5px;
  border-radius: 5px;
  height: 100%;
}

#savedBarsContainer > div {
  flex: 1;
}

#savedBarsContainer #savedResultsList ul {
  list-style: none;
}

#savedBarsContainer #savedResultsList li {
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

#savedBarsContainer li:last-of-type {
  margin-bottom: 0px;
}

#savedBarsContainer li div {
  flex: 1;
}

#savedBarsContainer li div button:nth-child(1) {
  margin-bottom: 5px;
}

/* Desktop Version */
@media screen and (min-width: 600px) {
  #savedBarsContainer {
    flex-direction: row;
    max-width: 800px;
  }
}
